//@font-face {
//  font-family: Till;
//  src: url("Till-Normal.otf");
//  font-weight: normal;
//}

@font-face {
  font-family: PublicSans;
  src: url("css/publicSans-variablefont_wght.ttf");
  font-weight: normal;
}
