@font-face {
  font-family: Till;
  src: url("/public/fonts/till-normal.otf");
  font-weight: normal;
}

@font-face {
  font-family: PublicSans;
  src: url("/public/fonts/publicsans-variablefont_wght.ttf");
}
